@font-face {
    font-family: 'Archivo';
    src: url('../fontsArchivo-SemiBoldItalic.woff2') format('woff2'),
        url('../fontsArchivo-SemiBoldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Archivo';
    src: url('../fontsArchivo-SemiBold.woff2') format('woff2'),
        url('../fontsArchivo-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Archivo Condensed';
    src: url('../fontsArchivoCondensed-Black.woff2') format('woff2'),
        url('../fontsArchivoCondensed-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Archivo Condensed';
    src: url('../fontsArchivoCondensed-Bold.woff2') format('woff2'),
        url('../fontsArchivoCondensed-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Archivo Condensed';
    src: url('../fontsArchivoCondensed-BoldItalic.woff2') format('woff2'),
        url('../fontsArchivoCondensed-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Archivo Condensed';
    src: url('../fontsArchivoCondensed-ExtraBoldItalic.woff2') format('woff2'),
        url('../fontsArchivoCondensed-ExtraBoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Archivo Condensed';
    src: url('../fontsArchivoCondensed-BlackItalic.woff2') format('woff2'),
        url('../fontsArchivoCondensed-BlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Archivo Condensed';
    src: url('../fontsArchivoCondensed-ExtraBold.woff2') format('woff2'),
        url('../fontsArchivoCondensed-ExtraBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Archivo Condensed';
    src: url('../fontsArchivoCondensed-ExtraLight.woff2') format('woff2'),
        url('../fontsArchivoCondensed-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Archivo Condensed';
    src: url('../fontsArchivoCondensed-LightItalic.woff2') format('woff2'),
        url('../fontsArchivoCondensed-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Archivo Condensed';
    src: url('../fontsArchivoCondensed-SemiBold.woff2') format('woff2'),
        url('../fontsArchivoCondensed-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Archivo Condensed';
    src: url('../fontsArchivoCondensed-Italic.woff2') format('woff2'),
        url('../fontsArchivoCondensed-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Archivo Condensed';
    src: url('../fontsArchivoCondensed-ExtraLightItalic.woff2') format('woff2'),
        url('../fontsArchivoCondensed-ExtraLightItalic.woff') format('woff');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Archivo Condensed';
    src: url('../fontsArchivoCondensed-Medium.woff2') format('woff2'),
        url('../fontsArchivoCondensed-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Archivo Condensed';
    src: url('../fontsArchivoCondensed-Light.woff2') format('woff2'),
        url('../fontsArchivoCondensed-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Archivo Condensed';
    src: url('../fontsArchivoCondensed-Regular.woff2') format('woff2'),
        url('../fontsArchivoCondensed-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Archivo Condensed';
    src: url('../fontsArchivoCondensed-MediumItalic.woff2') format('woff2'),
        url('../fontsArchivoCondensed-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Archivo Expanded';
    src: url('../fontsArchivoExpanded-BlackItalic.woff2') format('woff2'),
        url('../fontsArchivoExpanded-BlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Archivo Expanded';
    src: url('../fontsArchivoExpanded-ExtraBoldItalic.woff2') format('woff2'),
        url('../fontsArchivoExpanded-ExtraBoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Archivo Condensed';
    src: url('../fontsArchivoCondensed-Thin.woff2') format('woff2'),
        url('../fontsArchivoCondensed-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Archivo Expanded';
    src: url('../fontsArchivoExpanded-Black.woff2') format('woff2'),
        url('../fontsArchivoExpanded-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Archivo Expanded';
    src: url('../fontsArchivoExpanded-BoldItalic.woff2') format('woff2'),
        url('../fontsArchivoExpanded-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Archivo Condensed';
    src: url('../fontsArchivoCondensed-ThinItalic.woff2') format('woff2'),
        url('../fontsArchivoCondensed-ThinItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Archivo Expanded';
    src: url('../fontsArchivoExpanded-ExtraBold.woff2') format('woff2'),
        url('../fontsArchivoExpanded-ExtraBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Archivo Condensed';
    src: url('../fontsArchivoCondensed-SemiBoldItalic.woff2') format('woff2'),
        url('../fontsArchivoCondensed-SemiBoldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Archivo Expanded';
    src: url('../fontsArchivoExpanded-Bold.woff2') format('woff2'),
        url('../fontsArchivoExpanded-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Archivo Expanded';
    src: url('../fontsArchivoExpanded-ExtraLight.woff2') format('woff2'),
        url('../fontsArchivoExpanded-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Archivo Expanded';
    src: url('../fontsArchivoExpanded-Light.woff2') format('woff2'),
        url('../fontsArchivoExpanded-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Archivo Expanded';
    src: url('../fontsArchivoExpanded-ExtraLightItalic.woff2') format('woff2'),
        url('../fontsArchivoExpanded-ExtraLightItalic.woff') format('woff');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Archivo Expanded';
    src: url('../fontsArchivoExpanded-Italic.woff2') format('woff2'),
        url('../fontsArchivoExpanded-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

