* {
    outline: none;

    /* box-sizing: border-box; */
}



a {
    text-decoration: none;
    color: black;

}

body {
    overflow-x: hidden;
    padding: 0 !important;
}

ul,
ol {
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-link {
    color: black;
}

.nav-link ul li:hover a {
    color: rgba(14, 13, 13, 0.766);

}

.carousel-caption button a {
    color: rgb(255, 255, 255) !important;
}


.card-01 {
    width: 200px;
    height: 220px;
    background-color: #edf8f6f4 !important;

}

.icon {
    width: 70px;
    height: 70px;
    font-size: 30px;
    border: 3px solid rgba(255, 255, 255, 0.573);
    border-radius: 50%;
    background-color: rgba(211, 213, 214, 0.588);
    text-align: center;
    line-height: 70px;
}

.top-header li a:hover,
.top-header-right a:hover {
    color: rgba(0, 0, 0, 0.669);
}

.back-img img {
    top: 0;
    left: 0;
    opacity: 0;
    position: absolute;
    transition: 0.5s;

}

.front-img img:hover {
    opacity: 0;
}

.back-img img:hover {
    opacity: 1;
}

.product-image img {
    width: 95%;
}

.instagram-box img {
    width: 164px;
    height: 164px;
    padding: 0;
    margin: 0;
}

button {
    transition: 1s;
}

button:hover {
    background-color: white !important;
    border: 1PX SOLID transparent;
}

button a:hover {
    color: black !important;
}

.category-boxes button:hover {
    background-color: black !important;
}

.category-boxes button a:hover {
    color: white !important;
}

.category-boxes {
    position: relative;
    width: 95%;
    overflow: hidden;
}

.category-boxes img {
    display: block;
    width: 100%;
    transition: transform 0.7s ease;
}

.category-boxes:hover img {
    transform: scale(1.1);
}


.product-image {
    position: relative;
    width: 95%;
    overflow: hidden;
}

.product-image img {
    display: block;
    width: 100%;
    transition: transform 0.7s ease;
}

.product-image:hover img {
    transform: scale(1.1);
}

.collapse li a:hover,
.nav-icon ul li a:hover {
    color: rgb(51, 51, 51);
}

.product-contant a:hover {
    color: black;
}

.cart-btn button:hover {
    background-color: black !important;

}

.cart-btn button a:hover {
    color: #fff !important;
}

.card-btn button:hover {
    background-color: black !important;

}

.product-contant button a:hover {
    color: #fff !important;
}

.card-btn button a:hover {
    color: #fff !important;
}

.product-contant button:hover {
    background-color: black !important;
    color: #fff !important;
}

.top-header li {
    padding-bottom: 2px;
    display: inline-block;
    position: relative;
    margin-right: 17px;
    line-height: normal;
}

.top-header li a:focus:before,
.top-header li a:hover:before {
    width: 100% !important;
}


.top-header li a:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 1px;
    background: #222 !important;
    transition: .5s !important;
}

.about-img .about-img-2{
position: absolute!important;
 right: 45%;
 bottom: -38%; 
 z-index: 1;
 top: -99px;
}

.icon1 {
    width: 70px;
    height: 70px;
    font-size: 30px;
    border: 3px solid rgba(255, 255, 255, 0.573);
    border-radius: 50%;
    background-color: rgba(211, 213, 214, 0.588);
    text-align: center;
    line-height: 36px;
}
.blog-img{
    border: 1px solid rgb(255, 255, 255);
    box-shadow:0 4px 0 rgb(207, 206, 206);
}
.blog-img a:hover{
    color: white;
}
.blog-img a{
    color: white!important;
}
.blog-contant a{
    color: black!important;
}
.blog-img:hover img{
    transform: scale(1.1);
    cursor: pointer;
}
.blog-image img {
    display: block;
    width: 100%;
    transition: transform 0.3s ease;
}
.blog-contant a{
    transition: 1s;
}
.blog-contant a:hover{
    letter-spacing: 2px;
}
.blog-contant h3 a:hover{
    letter-spacing: 0;
}
    
.cart-table table tbody tr td {
    vertical-align: middle;
}
.cart-btn button:hover{
    color: white!important;
}


.btn:hover{
    color: black;
}
.btn{
    transition: 1s;
}